:root {
    /* Colors*/
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

/*Body Copy
Font size (paragraph): 16px
Font
Family: Roboto*/

body {
    background-color: var(--charcoal-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--dark-slate-grey);
    font-weight: 400;
}

#content-window {
    background-color: var(--white);
    font-size: 16px;
    color: var(--dark-slate-grey);
    display: flex;
    justify-content: space-between;
    padding: 2%;
    border-radius: 30px;
}

#text {

    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0% 5%;
    line-height: 2rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

h2 {
    line-height: 1.5rem;
}

ul {
    padding-top: 2rem;
    padding-left: 25px;
    line-height: 2.2rem;
}

li {
    list-style-image: url('./assets/images/icon-list.svg');
}

#input-area {
    display: flex;
    flex-direction: column;
    padding: 10% 0%;
}

#email-label {
    font-weight: 700;
    font-size: smaller;
}

#email-address {
    padding: 3.5% 5%;
    border-radius: 5px;
    border: 1px solid var(--grey);
    font-size: 16px;
}

#illustration {
    width: 450px;
    height: 593px;
    background-image: url('./assets/images/illustration-sign-up-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

#labels {
    display: flex;
    justify-content: space-between;
}

.btn {
    color: var(--white);
    background-color: var(--dark-slate-grey);
    border-radius: 10px;
    text-align: center;
    padding: 5% 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(0.25turn,var(--tomato) 50%, orange);
    outline: none;
    border: none;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(249, 63, 97, 0.498);
    box-shadow: 5px 5px 20px 0px rgba(249, 63, 97, 0.498);
}


.invalid-input {
    color: var(--tomato);
    border: 1px solid var(--tomato) !important;
    background-color: hsla(4, 100%, 67%, 0.5);
}

.invalid-input:focus {
    background-color: var(--white);
    outline: 1px solid var(--tomato) !important;
}

.error {
    color: var(--tomato);
    font-size: small;
    float: center;
}

.success {
    flex-direction: column;
    max-width: 30%;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 5rem;
    animation-name: pop;
    animation-duration: 2s;
    
}

.success-img {
    width: 60px;
    height: 60px;

}

.success-btn {
    font-size: medium;
    margin-top: 10%;
}
@keyframes pop {
    from {transform: scale(0) ;}
    to {transform: scale(1);}
  }
  @media screen and (max-width: 720px) {
    #content-window {
        flex-direction: column-reverse;
        width:100%;
    }
    #illustration{
        background-image: url('./assets/images/illustration-sign-up-mobile.svg');
        width:99vw;
        height: 284px;
        background-size: cover;
        border-radius: 15px;;
    }
    .success {
        flex-direction: column !important;
        border-radius:0px !important;
        max-width: 100vw;
        max-height: 100vh;
        height: 100vh;
        width:100vw;
        padding:0 20% !important ;
    }
    .success-img{
        margin-top: 15vh;
    }
    .tyH{
        margin-top: -25vh;
    }
    .thanks-text{
        margin-top: -20vh;
    }
    #dismiss{
        margin-bottom: 5vh;
    }
  }